<main >
    <div class="row justify-content-between mt-5 mb-5">
        <div class="col-lg-4 d-grid">
            <button id="enterPrescription" class="btn btn-success btn-lg py-5">Enter Prescription</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button id="addPatientBtn" class="btn btn-success btn-lg py-5">Add Patient</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button id="ordMedicBtn" class="btn btn-success btn-lg py-5">Order Medication</button>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-lg-4 d-grid">
            <button id="vacAppBtn" class="btn btn-success btn-lg py-5">Vaccine Appointment</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button id="blisPatBtn" class="btn btn-success btn-lg py-5">Blister Patient</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button id="transPatBtn" class="btn btn-success btn-lg py-5">Transfer Patient</button>
        </div>
    </div>
</main>

<!--<script>-->
<!--    const addPatientBtn = document.querySelector("#addPatientBtn");-->
<!--    function addPatient() {-->
<!--        window.location.href = "add_patient";-->
<!--    }-->
<!--    addPatientBtn.addEventListener("click", addPatient);-->

<!--    const enterPresBtn=document.getElementById("#enterPrescription")-->
<!--    function enterPres(){-->
<!--        window.location.href="enterPrescription"-->
<!--    }-->
<!--    enterPresBtn.addEventListener("click",enterPres );-->
<!--</script>-->