<main>
    <h2>Refill Medications</h2>
    <table class="table table-bordered">
        <thead class="table-success">
        <tr>
            <th>Dispensed Date</th>
            <th>Rx Num</th>
            <th>Medicine</th>
            <th>Qty</th>
            <th>Daily Dose</th>
            <th>Rem</th>
            <th>Authorized Qty</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody id="rxRequest">
        </tbody>
    </table>


    <h3>Request History</h3>
    <table class="table table-bordered">
        <thead class="table-responsive">
        <tr>
            <th>Request Date</th>
            <th>Rx Number</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody id="requestHistory"></tbody>
    </table>
</main>

